<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "HealthCareBlog", posts_path, class:"navbar-brand" %>
    <input type="checkbox" id="navbar-checkbox" checked="true" style="display: none;">
    <div id="navlinks">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <%= link_to "Create Blog",new_post_path, class:"nav-link" %>
             </li>
        <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
             </li>
        <% else %>
           <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
            </li>
       <% end %>
    </ul>
    </div>
    <button class="navbar-toggler" type="button" >
      <label for="navbar-checkbox" class="navbar-toggler-icon"></label>
    </button>
  </div>
</nav>

<style>
@media screen and (max-width: 990px)
{  #navbar-checkbox:checked + div { display: none;  } 
   #navlinks {position: absolute; top:50px; background-color: black; width: 100%; z-index: 500;}
}
</style>