<div class="container-fluid" >
    <div class="section">
        <div class="container">
             <h6><em>User:<%= @post.user.username %></em></h6>
                 <h5>Categories:<%= @post.category.category%></h5>
            <h2 class="title"><strong><%= @post.title %></strong></h2>
        
           
             <div class="content">
                <%= @post.content %>
            </div>
        <div style="width:600px; height:auto">
            <%= image_tag(@post.image, style:"width:50%") %>
        </div>
      
        <br>
        
           
            <%= link_to "Back", posts_path(@post), class:"btn btn-info"%>
       
            <%= link_to "Edit", edit_post_path(@post), class:"btn btn-primary"%>
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm:"Are you sure?"}, class:"btn btn-danger"%>
        
        
        
        <br>
          
    </div>

    <div class="section">
        <div class="container">
            <h6><%= @post.comments.count%>Comments</h5>
            <h6><%= render @post.comments %><h5>
            <%= render 'comments/form' %>
        </div>
    </div>
</div> 


